h1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 25px;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top:25px;
    margin-bottom: 10px;
}

h3 {
    font-size:22px;
/*    text-decoration: underline;*/
    font-weight: bold;
    margin-top:5px;
    margin-bottom: 5px;
}

body {
    background-color: #444;
}

p {
    margin-bottom:15px;
    font-family:Arial;
    line-height:22px;
    font-size:20px
}

p.indented {
    margin-left:20px;
}

strong {
    font-weight: bold;
}

a {
    text-decoration: underline;
    color: #444;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

a[href^="tel:"] {
    color: #000;
    text-decoration: none;
}

a:hover {
    color:#00C;
}

#mainWrapper {
    background-color: #EEE;
    width: 1080px;
    height:100%;
    margin:0px auto;
}

#headerDiv {
    width:100%;
    height:150px;
    margin-bottom: 20px;

    background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 31%, #284925 82%, #094b05 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(31%,#ffffff), color-stop(82%,#284925), color-stop(100%,#094b05)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff 31%,#284925 82%,#094b05 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #ffffff 0%,#ffffff 31%,#284925 82%,#094b05 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #ffffff 0%,#ffffff 31%,#284925 82%,#094b05 100%); /* IE10+ */
background: linear-gradient(to right, #ffffff 0%,#ffffff 31%,#284925 82%,#094b05 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#094b05',GradientType=1 ); /* IE6-9 */
   border-radius:0px 0px 20px 20px; 
}

#headerImage {
    width:150px;
    float:left;
    border-radius:20px;
}

h1#headerText {
    float: right;
    color: white;
    margin: 16px 24px 0 0;
    font-size: 52px;
    width: 310px;
    text-align: right;
    line-height: 57px;
    text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#sideBar {
    float:left;
    width:150px;
}

#sideBar a {
    text-shadow:1px 1px 1px #222;
    text-decoration: none;
}

#sideBar li {
    background-color: #094b05;
    color: white;
    margin-bottom: 5px;
    padding: 3px 10px;
    border-radius: 0px 10px 10px 0px;
    width: 140px; //Dislike hard-coding like this, but have to to make flyout work
}

#sideBar a.current li, #sideBar a:hover li {
    padding-right: 20px;
    background-color: goldenrod;
    color: #d5d5d5;
}

#sideBar a:not(.current) li {
    -webkit-transition: padding-right 0.3s, background-color 0.3s, color 0.3s;
    transition: padding-right 0.3s, background-color 0.3s, color 0.3s;
}

#sideBar #internalLinks {
    margin-bottom: 35px;
}

#innerWrapper {
    padding-left: 190px;
    padding-right: 50px;
}

#helenQualificationList {
    margin-bottom: 20px;
}

.ulWithBullets {
    list-style: disc inside none;
}

.headshot {
    width:130px;
}

.contactDiv {
    height:200px;
}

.contactDiv * {
    text-align:right;
}

.contactDiv .headshot {
    float:left;
}

#membershipFeesList {
    line-height:22px;
    font-size:20px;
}

#mapDiv {
    height:500px;
    width:850px;
    background-color: white;
    background:url(/img/ajax-loader.gif) center no-repeat;
    margin-bottom:15px;
}
    
#footer {
    position:absolute;
    bottom:0;
    width:1080px;
    height:20px;
}
#footer p {
    font-size: 16px;
    float:right;
    color:#bbb;
    text-shadow:1px 1px 1px #222;
    padding-right:20px;
    margin-bottom:0px;
}
#footer p a {
    color:#ddd;
    text-decoration:underline;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
#footer p a:hover {
    color:cornflowerblue;
}
