h1 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

h3 {
    font-size:20px;
    text-decoration: underline;
    margin-bottom: 5px;
}

body {
    background-color: #444;
}

p {
    margin-bottom:5px;
}

strong {
    font-weight: bold;
}

#mainWrapper {
    background-color: #EEE;
    width: 1080px;
    height:100%;
    margin:0px auto;
}

#headerImage {
    width:100%;
    margin-bottom: 20px;
}

#sideBar {
    float:left;
    width:150px;
}

#sideBar a {
    text-shadow:1px 1px 1px #222;
}

#sideBar li {
    background-color: #094b05;
    color: white;
    margin-bottom: 5px;
    padding: 3px 10px;
    border-radius: 0px 10px 10px 0px;
    width: 140px; //Dislike hard-coding like this, but have to to make flyout work
}

#sideBar a.current li, #sideBar a:hover li {
    padding-right: 20px;
    background-color: goldenrod;
    color: #d5d5d5;
}

#sideBar a:not(.current) li {
    -webkit-transition: padding-right 0.3s, background-color 0.3s, color 0.3s;
    transition: padding-right 0.3s, background-color 0.3s, color 0.3s;
}

#sideBar #internalLinks {
    margin-bottom: 35px;
}

#innerWrapper {
    padding-left: 190px;
}

#helenQualificationList {
    margin-bottom: 20px;
}

.ulWithBullets {
    list-style: disc inside none;
}

#mapDiv {
    height:100%;
}
    
#footer {
    position:absolute;
    bottom:0;
    width:1080px;
    height:20px;
}
#footer p {
    float:right;
    color:#bbb;
    text-shadow:1px 1px 1px #222;
    padding-right:20px;
}
#footer p a {
    color:#ddd;
    text-decoration:underline;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
#footer p a:hover {
    color:cornflowerblue;
}
